 /* <----------FontIcon CSS Start-----> */
 .material-symbols-outlined {
   font-size: 18px;
   font-variation-settings:
     'FILL' 1,
     'wght' 500,
     'GRAD' 0,
     'opsz' 24;
 }

 /* <-------FontIcon CSS  End----> */

 /* ----Text Font link import---- */
 @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;400;500;600;700&family=Josefin+Sans:wght@100;200;300;400;500&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&display=swap');


 body {

   font-family: 'Roboto' ,sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 /* ------Main Container CSS Start-------- */

 .main {
   display: flex;
 }

 /* ------Main Container CSS End-------- */

 /* -----SideBar CSS Start-------- */


 .sideBar {
  width: 100%;
  max-width: 240px;
  position:relative;
  height: 100%;
   background-color: #f4f4f4;
   overflow-y: auto;
   box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.4);
 }
#sideBar{
  position: fixed;
}
 #sideBar img {
   height: 80px;
   width: 130px;
   margin-left: 10px;
   margin-top: 10px;
 }

 #sideBar h4 {
   margin: 15px;
 }

 #sideBar ul {
   list-style-type: none;
   padding: 0;
 }

 #sideBar a {
   text-decoration: none;
   color: #333;
   display: block;
   padding: 10px 15px;
   transition: 0.3s;
 }

 #sideBar a:hover {
   background-color: #ddd;
 }

 #sideBar ul ul {
   padding-left: 20px;
 }

 #sideBar ul ul a {
   padding: 10px 15px;
 }


 /* <-----SideBar CSS End--------> */

 /* <-----Main RightSide CSS Start---> */
 .mainContent {
  max-width: calc(100%-240px);
  padding: 10px;
   background-color: lightgray;
   width: 100%; 
 }


 /* <-----Main RightSide CSS End----->*/

 /* <---Sub_Div_1 CSS Start-------> */
 .sub_div_1 {
   width: 100%;
   box-sizing: border-box;
   
 }

 .alert_container {
   margin: 0;
   padding: 0;
   
 }

 .alert_sec {
   display: flex;
   align-items: center;
   padding: 10px 5px;
   margin: 10px 0px 0px 0px;
   align-items: center;
   justify-content: space-between;
   background-color: white;
   box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
   border-radius: 5px;
 }

 .Notify1 {
   display: flex;
   align-items: center;
 }

 .Notify1 .sub_notify {
   margin: 0;
 }

 .Notify2 {
   display: flex;
   align-items: center;
   justify-content: space-around;
 }

 .Notify2 .Notify_icon {
   margin-right: 2px;
 }

 .sub_notify {
   margin: 0;
  border-radius: 50%;
 }






 /* <---Sub_Div_1 CSS End-------> */

 /* <---Sub_Div_2 CSS End-------> */
 .sub_div_2 {
   width: 100%;
   box-sizing: border-box;
   
 }

 .sub_sub_sec2 {
   padding: 7px
 }

 .header_sec {
   display: flex;
   align-items: center;
   margin: 20px;
   flex-wrap: nowrap;
   padding: 5px;


 }

 .head_text {
   text-wrap: nowrap;
 }

 .head_line {
   height: 10px;
   flex-grow: 1;
   border-bottom: 2px solid #000;
 }


 /* <---Sub_Div_2 CSS End-------> */

 /* <---Sub_Div_3 CSS Start-------> */


 .sub_div_3 {
   width: 100%;
   box-sizing: border-box;
   margin-top: 25px;
   height: fit-content;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
   background-color: white;
   border-radius: 5px;
   margin-bottom: 10px;
 }

 .button_div {
   padding-left: 20px;
 }

 .section_3_btn {
   background-color: red;
   color: white;
   margin: 0px 0px 15px 0px;
   border: none;
   border-radius: 3px;
   height: 30px;
   box-shadow: 0px 0px 5px red;
 }

 .add_role {
   display: flex;
  column-gap: 10px;
   margin: 5px 0px;

 }

 .table_container {
   overflow-x: auto;
   background-color: white;
   border-radius: 5px;

 }

 .sub_table_sec {
   width: 90%;
   white-space: nowrap;
   /* border-collapse: separate; */
   /* border-spacing: 10px; */
   margin: 10px 10px;

 }
 .td_img_txt{
  display: flex;
  align-items: center;
  column-gap: 10px;
 }
 .table_img{
  border-radius: 50%;
 }

 tr {
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   line-height: 50px;
   

 }

 td {
 
   padding: 2px 10px;
   font-weight: 500;
 }

 tr:hover {
   background-color: lightgray;
 }

 .table_img {
border-radius: 50%;

 }
   

 .add_role_icon_div{
padding-top: 10px;
 }
 .change_role_text {
   color: gray;
 }

 /* <---Sub_Div_3 CSS End-------> */

 /* ----sidebar css---- */

 #sideBar a {
   padding: 10px 15px;
   text-decoration: none;
   font-size: 18px;
   color: black;
   display: block;
   transition: 0.3s;
   text-align: left;
   font-weight: 500;
   line-height: normal;

 }

 #sideBar a:hover {
   color: white;
   background-color: red;
 }





 #toggle-btn {
   display: none;
 }



 /* ----Toggle sidebar CSS------ */

 #sidebar {
   height: 100vh;
   width: 250px;
   position: fixed;
   top: 0;
   left: -250px;
   overflow-x: hidden;
   transition: 0.5s;
   background-color: rgba(0, 0, 0, 0.8);

 }

 #sidebar img {
   height: 80px;
   width: 130px;
   padding: 10px;
 }

 #sidebar h5 {
   color: white;
   padding: 10px;
   margin: 0;
 }

 #sidebar ul {
   list-style-type: none;
   padding: 0;
 }

 #sidebar a {
   text-decoration: none;
   color: white;
   display: block;
   padding: 10px;
   transition: 0.3s;
 }

 #sidebar a:hover {
   background-color: #555;
 }

 #content {
   margin-left: 250px;
   transition: margin-left 0.5s;
   padding: 16px;
 }

 .zindex {
   z-index: 9;
   background-color: #454444;
 }

 .close-btn {
   cursor: pointer;
 }

 @media (max-width: 992px) {
   #sidebar {
     left: -250px;
   }

   #content {
     margin-left: 0;
   }

   #toggle-btn {
     display: block;
     font-weight: 900;
     font-size: 28px;
     cursor: pointer;
     position: relative;
     z-index: 2;

     padding: 0px 15px;
   }

   #sidebar.show {
     left: 0;
   }

   #content.show {
     margin-left: 250px;
   }
 }




 /* ----media query------ */
 @media (max-width:400px) {

   .location_sec,
   .contact_sec {
     gap: 10px;

   }

 }


 @media (max-width: 768px) {

   .alert_sec {
     flex-direction: column;

     row-gap: 5px;

   }

   .Notify1 {
     padding: 5px;
     text-align: center;
     flex-direction: column;
     row-gap: 20px;

   }

   .Notify2 {
     padding: 5px 0px;
     gap: 2px;


   }


   .header_sec {
     flex-direction: column;
     margin: auto;
     padding-top: 15px;
   }

   .head_text {
     height: 4px;
   }


   /* .txt_img {
     gap: 20px;
     flex-direction: column;
     align-items: center;
   } */

   .head_line {
     height: 50px;
     width: 95%;
     border-bottom: 2px solid red;
   }

   .section_3_btn {

     margin: 20px 0px;

   }

   td {
     padding-left: 2px;
     font-weight: 500;
     font-size: 14px;
   }

   .add_role_icon {
     height: 20px;
     width: 20px;
     margin-top: -8px;
   }

   .add_role_txt {
     font-size: 18px;
   }

   tr {
     line-height: 22px;
   }

 }


 @media (max-width: 992px) {
   .sideBar {
     display: none;
   }

   .mainContent {
     width: 100%;
   }
 }